@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
  /*===== Colors =====*/
  --hue-color:242;

  /* HSL Color Mode */
  --skin-color: hsl(260, 76%, 33%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

  /*===== Font and Typography =====*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*===== Font Weight =====*/
  --font-medium: 500;
  --font-bold: 600;

  /*===== Margenes Bottom =====*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*===== Z Index =====*/
  --z-fixed: 10;
  --z-modal: 100;
}

[data-theme="light"] {
  --hue-color: 242;

  /* HSL Color Mode for Light Mode */
  --skin-color: hsl(30, 96%, 48%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 25%);
  --body-color: hsl(var(--hue-color), 19%, 95%);
  --box-color: hsl(var(--hue-color), 14%, 90%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 58%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 66%);
}

/* Responsive Typography */
@media screen and (max-width: 1024px) {
  :root {
      --biggest-font-size: 2rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: .938rem;
      --small-font-size: .813rem;
      --smaller-font-size: .75rem;
  }
}


/* GLOBAL */

* { 
  margin: 0;
  padding: 0;
  scroll-behavior: smooth ;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size:  var(--normal-font-size);
}

body {
  background-color:  var(--body-color);
  color: var(--text-color);
}

h1,h2,h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button, 
input {
  border: none;
  outline: none;
}

/* LAYOUT */

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

/* DARK MODE */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;;
  transform: scale(1.5);

}


.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  /* display: none; */
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/* USAVEIS */
.section { 
  padding: 6.5rem 0 2rem;
}

.section_title { 
  text-align: center;
 font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section_title::before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--skin-color);
}

/* Main */

.main {
  margin-left: 100px
}

/* Botoes*/

.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--skin-color);
  color: var(--title-color);
  padding: .75rem 1.4rem;
  border-radius: .25rem;
  font-weight: var(--font-medium);
  position: relative;
  text-align: center;
  z-index: 1;
}

.button::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  transform-origin: center;
  height: 100%;
  background-color: var(--box-color);
  z-index: -1;
  transition: .4s;
  transform: scale(0);
  border-radius: .25rem;
}

.button:hover::after {
  transform: scale(1);
}

.button_icon {
  font-size: 1.25rem;
}

/* destaque */

.destaque_text {
  color: var(--skin-color);
  font-weight: bold;
}

/* SCROLL */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);

}